# Server Configuration
PORT=5000
CLIENT_URL=http://localhost:3000

# Database Configuration (MongoDB Atlas Connection)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net
DB_NAME=parcelDB

# Stripe Gateway Credentials
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_CURRENCY=bdt

# Firebase Admin SDK credentials (Base64-encoded string of service account JSON)
FB_SERVICE_KEY=your_base64_encoded_service_account_json

# Firebase Web Client API Key
FB_WEB_API_KEY=your_firebase_client_api_key

# Cloudinary Image Storage (https://cloudinary.com/users/register/free)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
